<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body>
<div class="layui-form" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">证书名称</label>
        <div class="layui-input-inline">
            <input type="text" name="certificateName" th:value="${editInfo.certificateName}" lay-verify="required" placeholder="请输入证书名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">证书类型</label>
        <div class="layui-input-block">
            <select name="interest" lay-filter="aihao">
                <option value=""></option>
                <option value="1"  selected="">SM2</option>
                <option value="2" >RSA</option>
                <option value="3">其它</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">证书相关使用设备</label>
        <div class="layui-input-inline">
            <input type="text"  name="certificateAboutMachine" th:value="${editInfo.certificateAboutMachine}" lay-verify="required" placeholder="请输入证书相关使用设备" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">

        <label class="layui-form-label">使用开始时间</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input"  id="certificateStartTime"   th:value="${editInfo.certificateStartTime}"     placeholder="yyyy-MM-dd">
        </div>
    </div>
    <div class="layui-form-item">

        <label class="layui-form-label">使用结束时间</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="certificateEndTime"  th:value="${editInfo.certificateEndTime}"     placeholder="yyyy-MM-dd">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">管理人员id</label>
        <div class="layui-input-inline">
            <input type="text" name="userId" th:value="${editInfo.userId}" lay-verify="required" placeholder="请输入管理人员id" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-inline">
            <input type="text" name="remark" th:value="${editInfo.remark}" placeholder="请输入备注" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">短信发送次数</label>
        <div class="layui-input-inline">
            <input type="text" name="sendMsgTimes" th:value="${editInfo.sendMsgTimes}" placeholder="请输入短信发送次数" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">创建时间</label>
        <div class="layui-input-inline">
            <input type="text" name="createTime" id="createTime" th:value="${#strings.replace(editInfo.createTime,'T',' ')}" lay-verify="required" placeholder="请输入创建时间" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit="" lay-filter="kFormSubmit" id="kFormSubmit">
        <input type="text" name="id" th:value="${editInfo.id}" autocomplete="off" class="layui-input">
    </div>
</div>

<script th:replace="common/base::context"></script>
<script th:replace="common/base::mainjs"></script>
<script>
    layui.use(['form', 'laydate'], function () {
        var $ = layui.$, form = layui.form, laydate = layui.laydate;

        //点我触发
        laydate.render({
            elem: '#certificateStartTime' // 指定元素
            ,trigger: 'click' //采用click弹出
        });
        laydate.render({
            elem: '#certificateEndTime' // 指定元素
            ,trigger: 'click' //采用click弹出
        });
        //监听提交
        form.on('submit(kFormSubmit)', function(data){
            var field = data.field; //获取提交的字段
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

            var url = field.id ? 'zgbank/certificateMain/edit' : 'zgbank/certificateMain/add';
            //提交 Ajax 成功后，关闭当前弹层并重载表格
            $.ajax({
                type: req.type.post,
                url: BASE_WEB + url,
                data: field,
                async: false,
                success: function (r) {
                    if (r.code === req.status.ok) {
                        // 重载表格
                        parent.layui.table.reload('kContentTable');
                        parent.layer.close(index); //再执行关闭
                    } else {
                        kvfKit.errorMsg(r.msg);
                    }
                }
            });

        });
    })
</script>
</body>
</html>