<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kalvin.kvf.modules.mts.mapper.FeedBackFieldMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kalvin.kvf.modules.mts.entity.FeedBackField">
        <result column="buss_no" property="bussNo" />
        <result column="err_field" property="errField" />
        <result column="err_field_cn" property="errFieldCn" />
        <result column="err_desc" property="errDesc" />
        <result column="input_date" property="inputDate" />
        <result column="data_type" property="dataType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       buss_no, err_field, err_field_cn, err_desc, input_date, data_type
    </sql>

    <select id="getFeedBackField" resultType="com.kalvin.kvf.modules.mts.entity.FeedBackField">
        select distinct buss_no from mts_feed_back_field
        WHERE input_date=#{inputDate} and data_type=#{dataType}
        order by buss_no asc
    </select>


</mapper>
