<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kalvin.kvf.modules.zg.mapper.FileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kalvin.kvf.modules.zg.entity.File">
        <id column="id" property="id" />
        <result column="file_type" property="fileType" />
        <result column="type" property="type" />
        <result column="file_name" property="fileName" />
        <result column="file_size" property="fileSize" />
        <result column="file_addrs" property="fileAddrs" />
        <result column="relevance_code" property="relevanceCode" />
        <result column="upload_time" property="uploadTime" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       t.id, t.file_type,t.type, t.file_name,t.file_size, t.file_addrs, t.relevance_code, t.upload_time, t.user_id,a.realname as user_name
    </sql>

    <select id="selectFileList" resultType="com.kalvin.kvf.modules.zg.entity.File">
        select <include refid="Base_Column_List" /> from zg_file t
        left join sys_user a on a.id=t.user_id
        <trim prefix="where" prefixOverrides="and">
            <if test="file.relevanceCode != null">
                and t.relevance_code = #{file.relevanceCode}
            </if>
            <if test="file.type != null">
                and t.type = #{file.type}
            </if>
        </trim>
    </select>

</mapper>
