<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kalvin.kvf.modules.zg.mapper.OutApplyleaveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kalvin.kvf.modules.zg.entity.OutApplyleave">
        <id column="id" property="id" />
        <result column="person_id" property="personId" />
        <result column="person_name" property="personName" />
        <result column="company_name" property="companyName" />
        <result column="phone" property="phone" />
        <result column="leave_type" property="leaveType" />
        <result column="leave_reason" property="leaveReason" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="days" property="days" />
        <result column="emergency_contact" property="emergencyContact" />
        <result column="process_instance_id" property="processInstanceId" />
        <result column="process_status" property="processStatus" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       t.id, t.person_id, t.leave_type, t.leave_reason, t.start_time, t.end_time, t.days, t.emergency_contact,
       t.process_instance_id, t.process_status, t.create_user, t.create_time, t.update_user, t.update_time,a.name as person_name,
       a.phone,b.company_name
    </sql>

    <select id="selectOutApplyleaveList" resultType="com.kalvin.kvf.modules.zg.entity.OutApplyleave">
        select <include refid="Base_Column_List" /> from zg_out_applyleave t
        left join zg_out_person a on a.id=t.person_id
        left join zg_out_company b on b.id=a.company_id
        <trim prefix="where" prefixOverrides="and">
            <if test="outApplyleave.personName != null">
                and a.name LIKE concat("%", #{outApplyleave.personName, jdbcType=VARCHAR}, "%")
            </if>
        </trim>
    </select>
    <select id="selectOutApplyleavebyId" resultType="com.kalvin.kvf.modules.zg.entity.OutApplyleave">
        select <include refid="Base_Column_List" /> from zg_out_applyleave t
        left join zg_out_person a on a.id=t.person_id
        left join zg_out_company b on b.id=a.company_id
        where t.id=#{id}
    </select>
    <select id="selectOutApplyleavebyProcess" resultType="com.kalvin.kvf.modules.zg.entity.OutApplyleave">
        select <include refid="Base_Column_List" /> from zg_out_applyleave t
        left join zg_out_person a on a.id=t.person_id
        left join zg_out_company b on b.id=a.company_id
        where t.process_instance_id=#{processInstanceId}
    </select>

</mapper>
