<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kalvin.kvf.modules.zg.mapper.OutPlanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kalvin.kvf.modules.zg.entity.OutPlan">
        <id column="id" property="id" />
        <result column="plan_year" property="planYear" />
        <result column="matters" property="matters" />
        <result column="advance_plan" property="advancePlan" />
        <result column="work_process" property="workProcess" />
        <result column="remarks" property="remarks" />
        <result column="status" property="status" />
        <result column="create_user" property="createUser" />
        <result column="create_date" property="createDate" />
        <result column="update_user" property="updateUser" />
        <result column="update_date" property="updateDate" />
        <result column="dr" property="dr" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       id, plan_year, matters, advance_plan, work_process,remarks, status, create_user, create_date, update_user, update_date, dr
    </sql>

    <select id="selectOutPlanList" resultType="com.kalvin.kvf.modules.zg.entity.OutPlan">
        select <include refid="Base_Column_List" /> from zg_out_plan
        <trim prefix="where" prefixOverrides="and">
            <if test="outPlan.planYear != null">
                and plan_year = #{outPlan.planYear}
            </if>
            <if test="outPlan.status != null">
                and status = #{outPlan.status}
            </if>
        </trim>
        order by plan_year desc
    </select>

</mapper>
