<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kalvin.kvf.modules.zg.mapper.OutPersonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kalvin.kvf.modules.zg.entity.OutPerson">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="birth_date" property="birthDate" />
        <result column="sex" property="sex" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="company_name" property="companyName" />
        <result column="company_id" property="companyId" />
        <result column="rating" property="rating" />
        <result column="document_type" property="documentType" />
        <result column="id_number" property="idNumber" />
         <result column="create_user" property="createUser" />
        <result column="create_date" property="createDate" />
        <result column="update_user" property="updateUser" />
        <result column="update_date" property="updateDate" />
        <result column="remarks" property="remarks" />
        <result column="dr" property="dr" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       t.id, t.name, t.birth_date, t.sex, t.phone, t.email, t.company_id, t.rating,t.document_type,t.id_number, t.create_user, t.create_date, t.update_user, t.update_date, t.remarks, t.dr, a.company_name
    </sql>

    <select id="selectOutPersonList" resultType="com.kalvin.kvf.modules.zg.entity.OutPerson">
        select <include refid="Base_Column_List" /> from zg_out_person t
        left join zg_out_company a on a.id=t.company_id
        <trim prefix="where" prefixOverrides="and">
            <if test="outPerson.name != null and outPerson.name != ''">
                and t.name like concat(#{outPerson.name}, "%")
            </if>
            <if test="outPerson.companyName != null and outPerson.companyName != ''">
                and a.company_name like concat(#{outPerson.companyName}, "%")
            </if>
        </trim>
    </select>

    <select id="selectInfoById" resultType="com.kalvin.kvf.modules.zg.entity.OutPerson">
        select <include refid="Base_Column_List" /> from zg_out_person t
        left join zg_out_company a on a.id=t.company_id
        where t.id=#{id}
    </select>
</mapper>
