<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body>
<div class="layui-form" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item layui-hide">
        <div class="layui-input-inline">
            <input type="text"  name="deploymentId" th:value="${editInfo.deploymentId==null?'':editInfo.deploymentId}" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label"><span style="color: red">*</span>外包人员</label>
            <div class="layui-input-inline">
                <input type="text" id="personName" th:value="${editInfo.personName==null?'':editInfo.personName}" lay-verify="required" placeholder="请选择外包人员" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label"><span style="color: red">*</span>外包类型</label>
            <div class="layui-input-inline">
                <select name="outsourceType" lay-verify="required">
                    <option value="1" th:selected="${editInfo.outsourceType == 1}">开发</option>
                    <option value="2" th:selected="${editInfo.outsourceType == 2}">运维</option>
                 </select>
             </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>合同</label>
        <div class="layui-input-block">
            <input type="text" id="contractNo" name="contractNo" th:value="${editInfo.contractNo}" lay-verify="required" placeholder="请选择合同" autocomplete="off" class="layui-input">
        </div>
     </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">采购人月(月)</label>
            <div class="layui-input-inline">
                <input type="text" name="personMonth" th:value="${editInfo.personMonth}" lay-verify="required" placeholder="请输入采购人月" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label"><span style="color: red">*</span>单价(万)</label>
            <div class="layui-input-inline">
                <input type="text" name="unitPrice" th:value="${editInfo.unitPrice}" lay-verify="required" placeholder="请输入单价" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label"><span style="color: red">*</span>入场时间</label>
            <div class="layui-input-inline">
                <input type="text" name="startDate" id="startDate" th:value="${#strings.replace(editInfo.startDate,'T',' ')}" lay-verify="required" placeholder="请输入入场时间" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label"><span style="color: red">*</span>计划工作时间</label>
            <div class="layui-input-inline">
                <input type="text" name="planDate" id="planDate" th:value="${#strings.replace(editInfo.planDate,'T',' ')}" lay-verify="required" placeholder="请输入计划工作时间" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>


    <div class="layui-form-item" th:if="${editInfo.id!=null}">
        <div class="layui-inline">
            <label class="layui-form-label">已支付(万)</label>
            <div class="layui-input-inline">
                <input type="text" name="havePay" th:value="${editInfo.havePay}" placeholder="请输入已支付" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">剩余待支付(万)</label>
            <div class="layui-input-inline">
                <input type="text" name="pendPay" th:value="${editInfo.pendPay}" placeholder="请输入剩余待支付" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>行方对接人员</label>
        <div class="layui-input-inline">
            <input type="text" id="bankName" th:value="${editInfo.bankName==null?'':editInfo.bankName}" lay-verify="required" placeholder="请选择行方对接人员" autocomplete="off" class="layui-input">
        </div>
     </div>
    <div class="layui-form-item layui-hide">
         <div class="layui-input-inline">
            <input type="text" id="bankPerson" name="bankPerson" th:value="${editInfo.bankPerson==null?'':editInfo.bankPerson}"   autocomplete="off" class="layui-input">
        </div>
     </div>
    <div class="layui-form-item">
        <label class="layui-form-label">本次外包任务中担任角色</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入角色" name="outRole" th:text="${editInfo.outRole}"  class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入备注" name="remarks" th:text="${editInfo.remarks}"  class="layui-textarea"></textarea>
        </div>
    </div>


    <div class="layui-form-item layui-hide">
        <div class="layui-input-inline">
            <input type="text" id="personId" name="personId" th:value="${editInfo.personId==null?'':editInfo.personId}" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <div class="layui-input-inline">
            <input type="text"  name="processStatus" th:value="${editInfo.processStatus==null?'':editInfo.processStatus}" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit="" lay-filter="kFormSubmit" id="kFormSubmit">
        <input type="text" name="id" th:value="${editInfo.id}" autocomplete="off" class="layui-input">
    </div>
</div>

<script th:replace="common/base::context"></script>
<script th:replace="common/base::mainjs"></script>

<script type="text/html" id="sexTpl">
    {{#  if(d.sex == 0){ }}
    <span class="layui-badge layui-bg-red">女</span>
    {{#  } else if(d.sex == 1) { }}
    <span class="layui-badge layui-bg-blue">男</span>
    {{#  } else { }}
    <span class="layui-badge layui-bg-gray">未知</span>
    {{# } }}
</script>
<script type="text/html" id="ratingTpl">
    {{#  if(d.rating == 1){ }}
    <span class="layui-badge layui-bg-red">商务</span>
    {{#  } else if(d.rating == 2) { }}
    <span class="layui-badge layui-bg-blue">技术</span>
    {{#  } else { }}
    <span class="layui-badge layui-bg-gray">未知</span>
    {{# } }}
</script>
<script type="text/html" id="isStatusTpl">
    {{#  if(d.isStatus == 1){ }}
    <span class="layui-badge layui-bg-red">是</span>
    {{#  } else if(d.isStatus == 2) { }}
    <span class="layui-badge layui-bg-blue">否</span>
    {{#  } else { }}
    <span class="layui-badge layui-bg-gray">未知</span>
    {{# } }}
</script>
<script type="text/html" id="deptTpl">
    {{# var data = kvfKit.get(api.sys.getDept + d.deptId).data; }}
    {{# return data ? data.name : '<span class="layui-badge-rim">未分配</span>'; }}
</script>
<script type="text/html" id="statusTpl">
    {{#  if(d.status == 0){ }}
    <span class="layui-badge layui-bg-green">正常</span>
    {{#  } else { }}
    <span class="layui-badge">禁用</span>
    {{# } }}
</script>
<script>
    layui.use(['form', 'laydate', 'tableSelect'], function () {
        var $ = layui.$, form = layui.form, laydate = layui.laydate, tableSelect = layui.tableSelect;
        laydate.render({
            elem: '#startDate' // 指定元素
            ,trigger: 'click' //采用click弹出
        });
        laydate.render({
            elem: '#planDate' // 指定元素
            ,trigger: 'click' //采用click弹出
        });

        tableSelect.render({
            elem: '#personName',
            checkedKey: 'id',
            table: {
                url: BASE_WEB + 'zg/outPerson/list/data',
                cols: [
                    [
                        { type: 'radio' }
                        ,{field: 'id', title: 'id', hide:true}
                        ,{field: 'name', title: '姓名', width: 130}
                        ,{field: 'sex', title: '性别', width: 130, templet: '#sexTpl'}
                        ,{field: 'rating', title: '职务类型', width: 130, templet: '#ratingTpl'}
                        ,{field: 'isStatus', title: '是否驻场', width: 130, templet: '#isStatusTpl'}
                    ]
                ]
            },
            done: function (elem, data) {
                layui.each(data.data, function (index, item) {
                    elem.val(item.name);
                    $('#personId').val(item.id);
                })
                //alert(JSON.stringify(data.data.realname))
            }
        });
        tableSelect.render({
            elem: '#bankName',
            checkedKey: 'id',
            table: {
                url: api.sys.userListData ,
                cols: [
                    [
                        { type: 'radio' }
                        ,{field: 'id', title: 'id', hide:true}
                        ,{field: 'realname', title: '姓名', width:100}
                        ,{field: 'deptId', title: '所属部门', sort: true, templet: '#deptTpl'}
                        ,{field: 'status', title: '用户状态', align: 'center', sort: true, templet: '#statusTpl', width: 100}
                    ]
                ]
            },
            done: function (elem, data) {
                layui.each(data.data, function (index, item) {
                    elem.val(item.realname);
                    $('#bankPerson').val(item.id);
                })
             }
        });

        //监听提交
        form.on('submit(kFormSubmit)', function(data){
            var field = data.field; //获取提交的字段
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            if(field.processStatus!=0){
                return  kvfKit.errorMsg("只能修改未提交的数据!");
            }
            var url = field.id ? 'zg/outOtc/edit' : 'zg/outOtc/add';
            //提交 Ajax 成功后，关闭当前弹层并重载表格
            $.ajax({
                type: req.type.post,
                url: BASE_WEB + url,
                data: field,
                async: false,
                success: function (r) {
                    if (r.code === req.status.ok) {
                        // 重载表格
                        parent.layui.table.reload('kContentTable');
                        parent.layer.close(index); //再执行关闭
                    } else {
                        kvfKit.errorMsg(r.msg);
                    }
                }
            });

        });
    })
</script>
</body>
</html>