<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body>
<form class="layui-form layui-form-pane" action="" style="padding:20px">
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>姓名</label>
        <div class="layui-input-block">
            <input type="text" name="name" th:value="${editInfo.name}" lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>出生年月</label>
        <div class="layui-input-inline">
            <input type="text" id="birthDate" name="birthDate" th:value="${editInfo.birthDate}" placeholder="请选择出生年月" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>性别</label>
        <input type="radio" name="sex" value="1" title="男" th:checked="${editInfo.sex==1}">
        <input type="radio" name="sex" value="0" title="女" th:checked="${editInfo.sex==0}">
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>证件类型</label>
        <div class="layui-input-inline">
                <select name="documentType" id="documentType">
                    <option value="0" th:selected="${editInfo.documentType == 0}">请选择</option>
                    <option value="1" th:selected="${editInfo.documentType == 1}">身份证</option>
                    <option value="2" th:selected="${editInfo.documentType == 2}">居住证</option>
                    <option value="3" th:selected="${editInfo.documentType == 3}">签证</option>
                    <option value="4" th:selected="${editInfo.documentType == 4}">护照</option>
                    <option value="5" th:selected="${editInfo.documentType == 5}">户口本</option>
                    <option value="6" th:selected="${editInfo.documentType == 6}">军人证</option>
                    <option value="7" th:selected="${editInfo.documentType == 7}">团员证</option>
                    <option value="8" th:selected="${editInfo.documentType == 8}">党员证</option>
                    <option value="9" th:selected="${editInfo.documentType == 9}">港澳通行证</option>
                </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>证件号码</label>
            <div class="layui-input-block">
                <input type="text"  name="idNumber" th:value="${editInfo.idNumber}" lay-verify="required" placeholder="请输入证件号码" autocomplete="off" class="layui-input">
            </div>
     </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>联系电话</label>
        <div class="layui-input-block">
            <input type="text" name="phone" th:value="${editInfo.phone}" lay-verify="required" placeholder="请输入联系电话" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>邮箱</label>
        <div class="layui-input-block">
            <input type="text" name="email" th:value="${editInfo.email}" lay-verify="required" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>所属公司</label>
        <div class="layui-input-block">
            <input type="text" id="companyName" th:value="${editInfo.companyName==null?'':editInfo.companyName}" lay-verify="required" placeholder="请输入关联所属公司" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">职务类型</label>
        <input type="radio" name="rating" value="1" title="商务" th:checked="${editInfo.rating==1}">
        <input type="radio" name="rating" value="2" title="技术" th:checked="${editInfo.rating==2}">
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入备注" name="remarks" th:text="${editInfo.remarks}"  class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <div class="layui-input-inline">
            <input type="text" id="companyId" name="companyId" th:value="${editInfo.companyId==null?'':editInfo.companyId}" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit="" lay-filter="kFormSubmit" id="kFormSubmit">
        <input type="text" name="id" th:value="${editInfo.id}" autocomplete="off" class="layui-input">
    </div>
</form>
<!--表格列格式化模板 start-->
<script type="text/html" id="companyStatusTpl">
    {{#  if(d.companyStatus == 0){ }}
    <span class="layui-badge layui-bg-blue">正常经营</span>
    {{#  } else if(d.companyStatus == 1) { }}
    <span class="layui-badge layui-bg-red">经营异常</span>
    {{#  } else { }}
    <span class="layui-badge layui-bg-gray">未知</span>
    {{# } }}
</script>
<!--表格列格式化模板 start-->
<script type="text/html" id="imOutsourceTpl">
    {{#  if(d.imOutsource == 0){ }}
    <span class="layui-badge layui-bg-blue">是</span>
    {{#  } else if(d.imOutsource == 1) { }}
    <span class="layui-badge layui-bg-red">否</span>
    {{#  } else { }}
    <span class="layui-badge layui-bg-gray">未知</span>
    {{# } }}
</script>
<script th:replace="common/base::context"></script>
<script th:replace="common/base::mainjs"></script>
<script>
    layui.use(['form', 'laydate','tableSelect'], function () {
        var $ = layui.$, form = layui.form, laydate = layui.laydate, tableSelect = layui.tableSelect;
        laydate.render({
            elem: '#birthDate' // 指定元素
            ,trigger: 'click' //采用click弹出
        });
        tableSelect.render({
            elem: '#companyName',
            checkedKey: 'id',
            table: {
                url: BASE_WEB + 'zg/outCompany/list/data',
                height:300,
                cols: [
                    [
                        { type: 'radio' }
                        ,{field: 'id', title: 'id', hide:true}
                        ,{field: 'companyName', title: '公司名称'}
                        ,{field: 'companyStatus', title: '公司经营状态',  templet: '#companyStatusTpl'}
                        ,{field: 'imOutsource', title: '是否重要外包商', templet: '#imOutsourceTpl'}
                    ]
                ]
            },
            done: function (elem, data) {
                layui.each(data.data, function (index, item) {
                    elem.val(item.companyName);
                    $('#companyId').val(item.id);
                })
                //alert(JSON.stringify(data.data.realname))
            }
        });
        //监听提交
        form.on('submit(kFormSubmit)', function(data){
            var field = data.field; //获取提交的字段
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

            var url = field.id ? 'zg/outPerson/edit' : 'zg/outPerson/add';
            //提交 Ajax 成功后，关闭当前弹层并重载表格
            $.ajax({
                type: req.type.post,
                url: BASE_WEB + url,
                data: field,
                async: false,
                success: function (r) {
                    if (r.code === req.status.ok) {
                        // 重载表格
                        parent.layui.table.reload('kContentTable');
                        parent.layer.close(index); //再执行关闭
                    } else {
                        kvfKit.errorMsg(r.msg);
                    }
                }
            });

        });
    })
</script>
</body>
</html>