<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body>
<div class="layui-form" style="padding: 20px 30px 0 0;">
    <div class="layui-card">
        <div class="layui-form-item" style="display: none">
             <div class="layui-input-inline">
                <input type="text" name="proId" th:value="${editInfo.proId}"   class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="display: none">
             <div class="layui-input-inline">
                <input type="text" id="jobCode" name="jobCode" th:value="${editInfo.jobCode}"   class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="display: none">
             <div class="layui-input-inline">
                <input type="text" id="id" name="id" th:value="${editInfo.id}"   class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color: red">*</span>任务名称</label>
            <div class="layui-input-block">
                <input type="text" name="jobName" th:value="${editInfo.jobName}" lay-verify="required" placeholder="请输入任务名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color: red">*</span>任务状态</label>
                <div class="layui-input-inline">
                    <select name="jobStatus">
                        <option value="0" th:selected="${editInfo.jobStatus == 0}">未开始</option>
                        <option value="1" th:selected="${editInfo.jobStatus == 1}">进行中</option>
                        <option value="2" th:selected="${editInfo.jobStatus == 2}">已完成</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">任务负责人</label>
                <div class="layui-input-inline">
                    <input type="text" id="headName" th:value="${editInfo.headName}"  placeholder="请选择任务负责人" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color: red">*</span>开始日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="startDate" id="startDate" th:value="${#strings.replace(editInfo.startDate,'T',' ')}" lay-verify="required" placeholder="请输入开始日期" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                 <label class="layui-form-label">截止日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="endDate" id="endDate" th:value="${#strings.replace(editInfo.endDate,'T',' ')}" placeholder="请输入截止日期" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item" style="display: none">
            <div class="layui-input-inline">
                <input type="text" id="headId" name="headId" th:value="${editInfo.headId}" lay-verify="required"   autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">项目名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="proName" th:value="${editInfo.proName}"   disabled class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">优先级</label>
                <div class="layui-input-inline">
                    <select name="priority">
                        <option value="0" th:selected="${editInfo.priority == 0}">较低</option>
                        <option value="1" th:selected="${editInfo.priority == 1}">最低</option>
                        <option value="2" th:selected="${editInfo.priority == 2}">普通</option>
                        <option value="3" th:selected="${editInfo.priority == 3}">较高</option>
                        <option value="4" th:selected="${editInfo.priority == 4}">最高</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入任务内容"  name="remarks" th:text="${editInfo.remarks}"   class="layui-textarea"></textarea>
            </div>
        </div>
    </div>
    <div class="layui-card-body">
        <button class="layui-btn  layui-btn-sm " id="kfileUpload">
            <i class="layui-icon layui-icon-upload"></i>
        </button>
        <table id="kContentTable" lay-filter="kContentTable"></table>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit="" lay-filter="kFormSubmit" id="kFormSubmit">
        <input type="text" name="id" th:value="${editInfo.id}" autocomplete="off" class="layui-input">
    </div>
</div>
<!--表格行工具栏模板-->
<script type="text/html" id="rowToolbarTpl">
     <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del"><i class="layui-icon layui-icon-delete"></i></a>
     <a class="layui-btn layui-btn-xs " lay-event="download"><i class="layui-icon layui-icon-download-circle"></i></a>
 </script>
<script th:replace="common/base::context"></script>
<script th:replace="common/base::mainjs"></script>
<script>
    layui.use(['form','table', 'laydate','tableSelect','upload','soulTable'], function () {
        var $ = layui.$, form = layui.form, laydate = layui.laydate,tableSelect=layui.tableSelect,
            upload=layui.upload,table=layui.table,soulTable=layui.soulTable;
        var tableId = 'kContentTable';
        var jobCode=document.getElementById("jobCode").value;
        laydate.render({
            elem: '#startDate' // 指定元素
            ,trigger: 'click' //采用click弹出
        });
        laydate.render({
            elem: '#endDate' // 指定元素
            ,trigger: 'click' //采用click弹出
        });
        tableSelect.render({
            elem: '#headName',
            checkedKey: 'id',
            table: {
                url: api.sys.userListData ,
                cols: [
                    [
                        { type: 'radio' }
                        ,{field: 'id', title: 'id', hide:true}
                        ,{field: 'realname', title: '姓名', width:100}
                        ,{field: 'sex', title: '性别', width:80, sort: true, templet: '#sexTpl'}
                        ,{field: 'deptId', title: '所属部门', sort: true, templet: '#deptTpl'}
                        ,{field: 'status', title: '用户状态', align: 'center', sort: true, templet: '#statusTpl', width: 100}
                    ]
                ]
            },
            done: function (elem, data) {
                layui.each(data.data, function (index, item) {
                    elem.val(item.realname);
                    $('#headId').val(item.id);
                })
            }
        });
        // 实例化table
        var tableIns = table.render($.extend(config.layui.table, {
            elem: '#' + tableId
            ,url: BASE_WEB + 'zg/file/list/data' // 数据接口
            ,where:{relevanceCode:jobCode,type:'job'}
            ,page:false
            ,height: 200
            ,cols: [
                [ //表头
                 {field: 'fileName', title: '文件名'}
                 ,{field: 'fileSize', title: '文件大小'}
                ,{field: 'userName', title: '上传人'}
                ,{field: 'fileAddrs', hide:true}
                ,{field: 'uploadTime', title: '上传时间'}
                  ,{field: '', title: '操作', templet: '#rowToolbarTpl'}
            ]
            ]
            ,autoColumnWidth: {
                init: true
            }
            ,done: function () {
                soulTable.render(this)
            }
        }));

        //执行实例
        var uploadInst = upload.render({
            elem: '#kfileUpload' //绑定元素
            ,url: BASE_WEB + 'zg/file/fileUpload'  //上传多文件接口
            ,data: {type: 'job',relevanceCode:jobCode}
            ,accept: 'file'
            ,done: function(r) {
                //上传完毕回调
                if (r.code === req.status.ok) {
                    table.reload(tableId);
                 } else {
                    kvfKit.errorMsg('上传失败：' + r.msg);
                }
            }
            ,error: function(index, upload) {
                //请求异常回调
                kvfKit.errorMsg('上传失败');
            }
        });
        // 表格行按钮 监听事件
        table.on('tool(' + tableId + ')', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent === 'del') {
                layer.confirm('确定删除吗？', function(index) {
                    //执行 Ajax 后重载
                    $.ajax({
                        type: req.type.post,
                        url: BASE_WEB + 'zg/file/del',
                        data:{id:data.id,fileAddrs:data.fileAddrs},
                        async: false,
                        success: function (r) {
                            if (r.code === req.status.ok) {
                                table.reload(tableId);
                                kvfKit.sucessMsg('已删除');
                            } else {
                                kvfKit.errorMsg(r.msg);
                            }
                        }
                    });
                });
            }
            if (layEvent === 'download') {
                 window.location.href = api.comm.download+"?filePath="+data.fileAddrs+"&fileName="+data.fileName;
             }

        });
        //监听提交
        form.on('submit(kFormSubmit)', function(data){
            var field = data.field; //获取提交的字段
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

            var url = field.id ? 'zg/outsourceJob/edit' : 'zg/outsourceJob/add';
            //提交 Ajax 成功后，关闭当前弹层并重载表格
            $.ajax({
                type: req.type.post,
                url: BASE_WEB + url,
                data: field,
                async: false,
                success: function (r) {
                    if (r.code === req.status.ok) {
                        // 重载表格
                        parent.layui.table.reload('kContentTable');
                        parent.layer.close(index); //再执行关闭
                    } else {
                        kvfKit.errorMsg(r.msg);
                    }
                }
            });

        });

    })
</script>
</body>
</html>