<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body>
<div class="layui-form" style="padding: 20px 30px 0 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">所属公司</label>
        <div class="layui-input-inline">
            <input type="text" id="companyName" name="companyName" th:value="${editInfo.companyName==null?'':editInfo.companyName}" lay-verify="required" placeholder="请输入所属公司id" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">调查年度</label>
        <div class="layui-input-inline">
            <input type="text" name="reportYear" id="reportYear" th:value="${#strings.replace(editInfo.reportYear,'T',' ')}" placeholder="请输入创建时间" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">风险等级</label>
        <div class="layui-input-inline">
            <input type="text" name="riskLevel" th:value="${editInfo.riskLevel}" lay-verify="required" placeholder="请输入风险等级" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <label class="layui-form-label">创建人</label>
        <div class="layui-input-inline">
            <input type="text" name="createUser" th:value="${editInfo.createUser}" placeholder="请输入创建人" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <label class="layui-form-label">创建时间</label>
        <div class="layui-input-inline">
            <input type="text" name="createDate" id="createDate" th:value="${#strings.replace(editInfo.createDate,'T',' ')}" placeholder="请输入创建时间" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <label class="layui-form-label">修改人</label>
        <div class="layui-input-inline">
            <input type="text" name="updateUser" th:value="${editInfo.updateUser}" placeholder="请输入修改人" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <label class="layui-form-label">修改时间</label>
        <div class="layui-input-inline">
            <input type="text" name="upateDate" id="upateDate" th:value="${#strings.replace(editInfo.upateDate,'T',' ')}" placeholder="请输入修改时间" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <div class="layui-input-inline">
            <input type="text" id="companyId" th:value="${editInfo.companyId==null?'':editInfo.companyId}" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <label class="layui-form-label">删除标识位0-正常 1-删除</label>
        <div class="layui-input-block">
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit="" lay-filter="kFormSubmit" id="kFormSubmit">
        <input type="text" name="id" th:value="${editInfo.id}" autocomplete="off" class="layui-input">
    </div>
</div>

<script th:replace="common/base::context"></script>
<script th:replace="common/base::mainjs"></script>
<script type="text/html" id="companyStatusTpl">
    {{#  if(d.companyStatus == 0){ }}
    <span class="layui-badge layui-bg-blue">正常经营</span>
    {{#  } else if(d.companyStatus == 1) { }}
    <span class="layui-badge layui-bg-black">非正常经营</span>
    {{#  } else { }}
    <span class="layui-badge layui-bg-gray">未知</span>
    {{# } }}
</script>
<script>
    layui.use(['form', 'laydate','tableSelect'], function () {
        var $ = layui.$, form = layui.form, laydate = layui.laydate, tableSelect=layui.tableSelect;


        laydate.render({
            elem: '#createDate' // 指定元素
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#upateDate' // 指定元素
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#reportYear' // 指定元素
            ,type: 'year'
        });

        tableSelect.render({
            elem: '#companyName',
            checkedKey: 'id',
            table: {
                url: BASE_WEB + 'zg/outCompany/list/data',
                cols: [
                    [
                        { type: 'radio' }
                        ,{field: 'id', title: 'id', hide:true}
                        ,{field: 'companyName', title: '公司名称', width: 200}
                        ,{field: 'companyStatus', title: '公司经营状态', width: 130, templet: '#companyStatusTpl'}
                        ,{field: 'companySize', title: '公司规模', width: 130}
                        ,{field: 'companyCode', title: '社会统一征信代码'}
                    ]
                ]
            },
            done: function (elem, data) {
                layui.each(data.data, function (index, item) {
                    elem.val(item.companyName);
                    $('#companyId').val(item.id);
                })
                //alert(JSON.stringify(data.data.realname))
            }
        });

        //监听提交
        form.on('submit(kFormSubmit)', function(data){
            var field = data.field; //获取提交的字段
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

            var url = field.id ? 'zg/reportCompany/edit' : 'zg/reportCompany/add';
            //提交 Ajax 成功后，关闭当前弹层并重载表格
            $.ajax({
                type: req.type.post,
                url: BASE_WEB + url,
                data: field,
                async: false,
                success: function (r) {
                    if (r.code === req.status.ok) {
                        // 重载表格
                        parent.layui.table.reload('kContentTable');
                        parent.layer.close(index); //再执行关闭
                    } else {
                        kvfKit.errorMsg(r.msg);
                    }
                }
            });

        });
    })
</script>
</body>
</html>