<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body style="background-color: #f2f2f2;">

<div id="kPage" class="layui-fluid" style="padding: 0">
    <div class="layui-row">
        <div class="layui-col-md12" id="kMainContentCol">
            <div class="layui-fluid kvf-fluid-padding15">
                <div class="layui-card">
                    <form>
                        <div class="layui-form layui-card-header kvf-card-header-auto">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">系统名称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="sysName" placeholder="请输入系统名称" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <label class="layui-form-label">系统状态</label>
                                    <div class="layui-input-inline">
                                         <select name="sysStatus" class="layui-select">
                                            <option value=""></option>
                                            <option value="0">运行中</option>
                                            <option value="1">已下线</option>
                                            <option value="2">在建</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <button class="layui-btn " lay-submit="" lay-filter="kTableSearchFilter">
                                        <i class="layui-icon layui-icon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="layui-card-body">
                        <table id="kContentTable" lay-filter="kContentTable"></table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script th:replace="common/base::context"></script>
<script th:replace="common/base::mainjs"></script>

<!--头部工具栏模板-->
<script type="text/html" id="headToolbarTpl">
    <button class="layui-btn layui-btn-sm " lay-event="add">添加</button>
 </script>

<!--表格行工具栏模板-->
<script type="text/html" id="rowToolbarTpl">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
</script>

<!--表格列格式化模板 start-->
<script type="text/html" id="sysStatusTpl">
 {{#  if(d.sysStatus == 0){ }}
<span class="layui-badge layui-bg-blue">运行中</span>
{{#  } else if(d.sysStatus == 1) { }}
<span class="layui-badge layui-bg-black">已下线</span>
{{#  } else if(d.sysStatus == 2) { }}
<span class="layui-badge layui-bg-green">建设中</span>
{{#  } else { }}
<span class="layui-badge layui-bg-gray">未知</span>
{{# } }}
</script>
<script type="text/html" id="appTypeTpl">
    {{# var data = kvfKit.get(api.sys.dictByCodeListData,{code:'apparch',value:d.appType}).data; }}
    {{# return data ? data.name : '<span class="layui-badge-rim">未分配</span>'; }}
</script>
<script type="text/html" id="flowTypeTpl">
    {{#  if(d.flowType == 0){ }}
    <span >无</span>
    {{#  } else if(d.flowType == 1) { }}
    <span >F5</span>
    {{#  } else if(d.flowType == 2) { }}
    <span >单路</span>
    {{#  } else { }}
    <span class="layui-badge layui-bg-gray">未知</span>
    {{# } }}
 </script>
<script type="text/html" id="sysLevelTpl">
{{#  if(d.sysLevel == 1){ }}
<span >一级</span>
{{#  } else if(d.sysLevel == 2) { }}
<span >二级</span>
{{#  } else if(d.sysLevel == 3) { }}
<span >三级</span>
{{#  } else { }}
<span class="layui-badge layui-bg-gray">未知</span>
{{# } }}
</script>
<script type="text/html" id="imSystemTypeTpl">
 {{#  if(d.imSystemType == 0){ }}
<span >无</span>
{{#  } else if(d.imSystemType == 1) { }}
<span >同城灾备</span>
 {{#  } else if(d.imSystemType == 2) { }}
 <span >异地灾备</span>
{{#  } else { }}
<span class="layui-badge layui-bg-gray">未知</span>
{{# } }}
 </script>
<!--表格列格式化模板 end-->
<script type="text/html" id="userTp1">
    {{# var data = kvfKit.get(api.sys.getUser + d.sysHeadId).data; }}
    {{# return data ? data.realname : '<span class="layui-badge-rim">未分配</span>'; }}
</script>
<script type="text/html" id="userTp2">
    {{# var data = kvfKit.get(api.sys.getUser + d.sysOperId).data; }}
    {{# return data ? data.realname : '<span class="layui-badge-rim">未分配</span>'; }}
</script>
<script type="text/javascript" th:inline="javascript">
    layui.use(['element', 'form', 'layer', 'table', 'laydate','soulTable'], function () {
        var elemet = layui.element, form = layui.form, layer = layui.layer, table = layui.table, laydate = layui.laydate, soulTable = layui.soulTable;
        var tableId = 'kContentTable';
        var area = ['780px', '95%'];


        // 实例化table
        var tableIns = table.render($.extend(config.layui.table, {
            elem: '#' + tableId
            ,url: BASE_WEB + 'zg/system/list/data' // 数据接口
            ,toolbar: '#headToolbarTpl'
            ,overflow: 'tips'
            ,method: 'post' //这里可以写post请求,默认get
            ,cols: [[ //表头
                {type:'checkbox', fixed: 'left'}
                ,{field: 'sysName', title: '系统名称',fixed: 'left', width: 130,filter: true}
                ,{field: 'onDate', title: '上线日期', sort: true,filter: {type: 'date[yyyy-MM-dd]'}}
                ,{field: 'sysDesc', title: '功能描述', width: 130,autoWidth: false}
                ,{field: 'sysHeadId', title: '系统负责人', width: 130,templet: '#userTp1'}
                ,{field: 'sysOperId', title: '运维负责人', width: 130,templet: '#userTp2'}
                ,{field: 'dataAddres', title: '资料存放地址', width: 130}
                ,{field: 'appType', title: '应用架构类型', width: 130, templet: '#appTypeTpl'}
                ,{field: 'flowType', title: '流量控制类型', width: 130, templet: '#flowTypeTpl'}
                ,{field: 'sysLevel', title: '级别', width: 130, templet: '#sysLevelTpl'}
                ,{field: 'imSystemType', title: '灾备类型', width: 130, templet: '#imSystemTypeTpl'}
                ,{field: 'outDate', title: '下线日期', width: 130, filter: {type: 'date[yyyy-MM-dd]'}}
                ,{field: 'remarks', title: '备注', width: 130,autoWidth: false}
                ,{field: 'sysStatus', title: '系统状态', width: 130, templet: '#sysStatusTpl',fixed: 'right'}
                ,{field: '', title: '操作', width: 235, fixed: 'right', templet: '#rowToolbarTpl'}
            ]]
            ,filter: {
                clearFilter: true,
                items:['column','data','excel'] // 只显示表格列和导出excel两个菜单项
            }
            ,excel: { // 导出excel配置, （以下值均为默认值）
                on: true, //是否启用, 默认开启
                filename: '系统基本属性.xlsx', // 文件名
                head: { // 表头样式
                    family: 'Calibri', // 字体
                    size: 12, // 字号
                    color: 'FFFFFF', // 字体颜色
                    bgColor: 'FF5722' // 背景颜色
                },
                font: { // 正文样式
                    family: 'Calibri', // 字体
                    size: 12, // 字号
                    color: 'FFFFFF', // 字体颜色
                    bgColor: '01AAED' //背景颜色
                }
            }
            ,autoColumnWidth: {
                init: true
            }
            ,done: function () {
                soulTable.render(this)
            }
        }));

        // 监听表格头部事件
        table.on('toolbar(' + tableId + ')', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            var checkData = checkStatus.data; // 得到选中的数据
            switch(obj.event) {
                case 'add':
                    layer.open({
                        type: 2
                        ,title: '添加'
                        ,content: BASE_WEB + 'zg/system/edit'
                        ,maxmin: true
                        ,area: area   // 宽高
                        ,btn: ['确定', '取消']
                        ,yes: function(index, layero){
                            //点击确认触发 iframe 内容中的按钮提交
                            var submit = layero.find('iframe').contents().find("#kFormSubmit");
                            submit.click();
                        }
                    });
                    break;
            }
        });

        // 表格行按钮 监听事件
        table.on('tool(' + tableId + ')', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if (layEvent === 'edit') {
                layer.open({
                    type: 2
                    ,title: '编辑'
                    ,content: BASE_WEB + 'zg/system/edit?id=' + data.id
                    ,maxmin: true
                    ,area: area   // 宽高
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        //点击确认触发 iframe 内容中的按钮提交
                        var submit = layero.find('iframe').contents().find("#kFormSubmit");
                        submit.click();
                    }
                });
            }
            if (layEvent === 'del') {
                layer.confirm('确定删除吗？', function(index) {
                    //执行 Ajax 后重载
                    $.ajax({
                        type: req.type.post,
                        url: BASE_WEB + 'zg/system/del/' + data.id,
                        async: false,
                        success: function (r) {
                            if (r.code === req.status.ok) {
                                table.reload(tableId);
                                kvfKit.sucessMsg('已删除');
                            } else {
                                kvfKit.errorMsg(r.msg);
                            }
                        }
                    });
                });
            }
        });


        // 监听查询
        form.on('submit(kTableSearchFilter)', function (data) {
            renderTableData(data.field);
            return false;
        });
        function renderTableData(params) {
            params = params ? params : {};

            tableIns.reload({
                where: params,
                page: {curr: 1}
            });
        }


    });
</script>

</body>
</html>