<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kalvin.kvf.modules.workflow.mapper.FormMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kalvin.kvf.modules.workflow.entity.Form">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="theme" property="theme" />
        <result column="form_addrs" property="formAddrs" />
        <result column="design_data" property="designData" />
        <result column="js_code" property="jsCode" />
         <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       id, code, name, type, theme,form_addrs, design_data, js_code, create_time, update_time
    </sql>

    <select id="selectFormList" resultType="com.kalvin.kvf.modules.workflow.entity.Form">
        select <include refid="Base_Column_List" /> from wf_form
        <trim prefix="where" prefixOverrides="and">
            <if test="form.name != null and form.name != ''">
                and name like concat(#{form.name}, "%")
            </if>
            <if test="form.code != null and form.code != ''">
                and code = #{form.code}
            </if>
        </trim>
        order by create_time desc
    </select>
    <select id="selectFormByCode" resultType="com.kalvin.kvf.modules.workflow.entity.Form">
        SELECT
        t.id,
        t. CODE,
        t. NAME,
        t.type,
        t.theme,
        t.form_addrs,
        t.design_data,
        t.js_code,
        t.create_time,
        t.update_time,
        c.DEPLOYMENT_ID_ as deployment_id
        FROM
        wf_form t
        LEFT JOIN (select a.form_code,b.DEPLOYMENT_ID_ from wf_process_form a left join act_re_model b on b.id_=a.model_id)  c ON c.form_code = t.CODE
        WHERE
        t. CODE = #{code}
    </select>

</mapper>
